<br><br>
		<div class="container text-center">
        <div class="row">
          <div class="col-5">
            <!-- <div class="bigcart"></div> -->
            <h1>Tu Carrito de Asignaturas</h1>
            <p>
              Aqui puedes visualizar una preseleccion de materias antes de la preseleccion oficial y asi tener organizado tu horario,
              cuando llegue la fecha de <b>prematricula</b> puede hacer la seleccion instantaneamente clikeando el boton <b>Seleccionar</b>
            </p>
          </div>
          <div class="col-7 text-left">
              <table class="table table-borderless table-responsive">
                  <thead>
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Horario</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Creditos</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of cart">
                    <tr>
                      <td>{{item.CRS_CDE}}</td>
                      <td>{{item.CRS_TITLE}}</td>
                      <td>{{item.HORARIO}}</td>
                      <td>{{item.precio}}</td>
                      <td>{{item.CREDIT_HRS}}</td>
                      <td><span class="text-danger" (click)="removeSubject(item.$key)"><i class="fas fa-times"></i></span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col">Total: {{total}}.00 RD$</th>
                          <th scope="col">Creditos:{{creditos}}</th>
                          <th></th>
                      </tr>
                  </tfoot>
                </table>
                <div class="row">
                  <div class="col text-left">
                      <button class="btn btn-danger" (click)="removeAll()">Vaciar Carrito</button>
                  </div>
                  <div class="col text-right">
                    <button class="btn btn-success" (click)="submitSubjects()">Seleccionar</button>
                  </div>
                </div>
          </div>
        </div>
      </div>