img.desaturada { filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    }
.logo{
    height: 60px;
    width: 60px;
}
.active{
    font-size: 18px;
}