<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><img class="logo" src="../assets/logoucateci2.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" (click)="setActive()">
      <li class="nav-item" [ngClass]="{'active':active === 0}">
        <a class="nav-link" routerLink="/">Inicio<span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item" [ngClass]="{'active':active === 1}">
        <a class="nav-link" routerLink="/seleccion">Seleccion</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':active === 2}">
        <a class="nav-link" routerLink="/horario-prematricula">Horario Prematricula</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':active === 3}">
        <a class="nav-link" routerLink="/horario">Horario</a>
      </li>
      <li class="nav-item " [ngClass]="{'active':active === 4}">
        <a class="nav-link" routerLink="/calificaciones">Calificaciones</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <a routerLink="/shopping-cart">
        <span style="margin-right: 15px;color:#32383e"><i class="fas fa-shopping-cart"></i></span>
      </a>
      <input class="form-control mr-sm-2" placeholder="Matricula" (keydown.enter)="setM(inputMatricula.value)" #inputMatricula  >
      <div class="btn btn-outline-success my-2 my-sm-0" (click)="setM(inputMatricula.value)"  >Buscar</div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>