<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><img class="logo" src="../assets/logoucateci2.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" (click)="setActive()">
      <li class="nav-item" [ngClass]="{'active':active === 0}">
        <a class="nav-link" routerLink="/">Inicio<span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item" [ngClass]="{'active':active === 1}">
        <a class="nav-link" routerLink="/seleccion">Seleccion</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':active === 2}">
        <a class="nav-link" routerLink="/horario-prematricula">Horario Prematricula</a>
      </li>
      <li class="nav-item " [ngClass]="{'active':active === 3}">
        <a class="nav-link" routerLink="/calificaciones">Calificaciones</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="#">Action</a>
          <a class="dropdown-item" routerLink="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" placeholder="Matricula" (keydown.enter)="setM(inputMatricula.value)" #inputMatricula  >
      <div class="btn btn-outline-success my-2 my-sm-0" (click)="setM(inputMatricula.value)"  >Buscar</div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>