<div class="content">
  <div class="row">
    <div class="col">
      <h3>{{estudiante[0].NOMBRES +" "+ estudiante[0].APELLIDOS}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Carrera: {{estudiante[0].DESC_CARR}}</h4>
    </div>
    <div class="col">
      <h4>Matricula: {{estudiante[0].ID_NUM}}</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col"><h5>Indice Cuatrimestral :  {{estudiante[0].INDICE_CUAT}}</h5>  </div>
    <div class="col"><h5>Indice General :  {{estudiante[0].INDICE_GEN}}</h5>   </div>
    <div class="col"><h5>Balance en Caja :  {{balance[0].Balance}}</h5>   </div>
  </div>
</div>